<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header id="site-header">
      <div class="container">
        <a href="/dog-list">dogs</a>
        
            {{#if user}}
        Logged in as {{user.username}} 
        <form method="POST" action="/auth/logout">
          <button>Logout</button>
        </form>
        {{/if}}
        
        {{#unless user}}
        <a href="/auth/login">login</a>
        {{/unless}}
      </div>
    </header>

    <div class="container">
      {{{body}}}
    </div>
           
    <footer id="site-footer">
      <div class="container">
      2018
      </div>
    </footer>
  </body>
</html>
