<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header id="site-header">
      <div class="container">
        <a href="/dog-list" class="woof">Woof!</a>
        
            {{#if user}}
       <p class="loggedInAs">Logged in as {{user.username}}</p>
        <form method="POST" action="/auth/logout">
          <button class="logoutBtn">Logout</button>
        </form>
        {{/if}}
        
        {{#unless user}}
        <a href="/auth/login"class="a-round">Login</a>
        <a href="/auth/signup"class="a-round">Sign Up</a>
        {{/unless}}
      
    
      </div>
    </header>

    <div class="container">
    
      {{{body }}}
      
    </div>
<script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAShHBa3zYWUqcop_dNNEdbtSU7FVm2_KE"></script>
<script src="./javascript/main.js"></script>
           
    <footer id="site-footer">
      <div class="container ">
     <p>&copy 2018</p><p class="woof-footer">Woof</p>
      </div>
    </footer>
  </body>
</html>
