{{#if user}}
<div class="section">
  <div>
    <h1>Hey! I am {{dogs.name}}</h1>
    <img class="card" src=" {{dogs.picture}}">
  </div>
  <div class="section-dog-profile">
    <h2>I am {{dogs.age}} years old</h2>
    <h2>About me:</h2>
    <ul>
      {{#each dogs.likes}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
</div>
{{/if}}
